.navigation{
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
}

a{
    text-decoration: none;
    color: black;
}
body{
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}